.about-root{
    display: flex;
    flex-direction: column;
    padding: 70px 50px;
    background: rgb(24, 26, 27);
    color: rgb(200, 195, 188);
}
.about-header{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.about-me-underline{
    padding-top: 15px;
    align-self: center;
    width: 40px;
    border-bottom: 5px solid #4414ab;
}
.about-detail{
    position: relative;
    display: flex;
    top: 50px;
    padding-bottom: 50px;
    .discover-text{
        width: 50%;
        .intro-text{
            padding: 0 50px 0 50px;
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: 1px;
            line-height: 1.5rem;
        }
    }
}
.discover-heading{
    padding: 50px 50px 20px 50px;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1px;
}
.skill-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    padding: 50px;
}
.dhruv-pic{
    display: flex;
    justify-content: center;
    align-self: center;
    // border: 2px solid red;
    width: 50%;
}

.skill-section{
    // border: 2px solid gold;
}

.skill-heading {
    padding: 50px;
    grid-area: header;
    padding-bottom: 5px;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1px;
}


.skill-item{
    display: flex;
    padding-bottom: 30px;
    .skill-item-icon{
        height: 40px;
        width: 40px;
    }
    .skill-item-text{
        display: flex;
        align-items: center;
        padding-left: 30px;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
    }
}